<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('./supp/header.ejs')%>
       
<body>


    



    <div style="color: black; display: flex; justify-content: center; align-items: center; height: 50vh;" >

        <h1>الصفحة غير موجوده </h1>
    </div>
</body>
</html>