<!DOCTYPE html>
<html lang="en">
    <%- include('./supp/header.ejs')%>
    <title>اضافة مادة جديده</title>
<body>
    
    <%- include('./supp/nav.ejs')%>

    <div class="box_style">
        <div class="bor">
 
         <h1>تسجيل مادة جديد</h1>
        
            <div class="name_style">
               <form method="post">
                <input class="mateer_style"  id="Matter_name" name="Matter_name" type="text" placeholder=" اسم المادة">
                <input class="mateer_style"  id="Code_Matter" name="Matter_code"  type="text" placeholder="رمز المادة">
                <input class="mateer_style"  id="Teher_name" name="Teher_name" type="text" placeholder=" معلم المادة">
              
                    <button style="margin-right: 40%;" id="save_mat" class="sava_btn">اضافة</button>
               
               </form>
               
             </div>
     
         
         
         
         
         

         
       
        </div>
     </div>

    
</body>
</html>