<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./supp/header.ejs')%>
    <title><%= title %></title>
    </head>
<body>
    <%- include('./supp/nav.ejs')%>
    

    <div class="box_style">
        <div class="bor">
 
         <h1>تسجيل معلم جديد</h1>
         <div class="name_style">
            
         
         </div>
         <form action="">
            <div class="info">
                <input type="text" name="Full_name" placeholder="الاسم ">
                 <input type="text" name="Persanl_id" placeholder="رقم الهوية">
                 <input type="text" name="Email" placeholder="االبريد الالكتروني">
                 <input type="text" name="Phone_number" placeholder="  رقم الجوال">
                 <input type="text" name="Majore" placeholder="التخصص">
             </div>
             
             <button class="sava_btn">اضافة</button>
             
         </form>
         
         
 
        </div>
     </div>
</body>
</html>