<!DOCTYPE html>
<html lang="en">
        <%- include('./supp/header.ejs')%>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" >
        <title></title>
        <style>
            body{
                background-color:#060606;
            }

          .conntenr_search{
              width: 80%;
              margin: auto;
              
          }
          .conntenr_search .box_search{
              height: 60vh;
              display: flex;
              justify-content: center;
              align-items: center;

          }
          .conntenr_search .box_search .form_style{
            
            width: 80%;
            
            
          }
          .conntenr_search .box_search .form_style input{
              width: 80%;
              height: 44px;
              border: none;
              border-radius: 5px;
              padding-right: 10px;
              outline: none;

            }
           
            .conntenr_search .box_search .form_style .buttn_style{
               display: flex;
               justify-content: center;
               width: 80%;
               padding-top: 10px;
               gap: 15px;
            }
           
        
            .conntenr_search .box_search .form_style .but_style{
               
            }
            .conntenr_search button{
                width: 150px;
                height: 50px;
                border-radius: 7px;
            }

        </style>
       
<body>


    <%- include('./supp/nav.ejs')%>

    <div class="conntenr_search">
        <div class="box_search">
           
            <div class="form_style">
                <form action="" method="get">
                    <input type="text" name="search" placeholder="بحث عن طالب">
                    
                   
                   
                   <div class="buttn_style">
                    <button>بحث</button>
                    <a href="./show_all"><button  id="b2" class="but_style">عرض الكل</button></a>
                   </div>
                </form>
                <div>
                    
                     </div>
            </div>
        </div>
    </div>
   
    

  
    </div>
 

 
</body>
</html>