<header>
    <div class="contenr">
        <div class="tital">
            <h3>برنامج ادارة محتوى طلابي</h3>
        </div>
        <div class="nav">
            <ul class="ul_style">
                <li><a href="/add_new_student">تسجيل طالب جديد</a></li>
                <li><a href="/index">بحث عن طالب</a></li>
                <li><a href="/Add_matter">اضافة مادة جديده</a></li>
                <li><a href="/Add_Teher">اضافة معلم جديد</a></li>
                <li><a href="/logout">تسجل الخروج</a></li>
            </ul>
        </div>
    </div>
    
</header>